.style {
    background-color: beige;
}
.style1 {
    background-color: steelblue;height: 100px;width: 500px;
}
.style2 {
    color: white;
}
.style3 {
    background-color: yellow;height: 160px;width:  500px;
}